body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}

h1 {
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px;
}

th {
  background-color: #f2f2f2;
  letter-spacing: 2px;
}

tbody tr:nth-child(odd) {
  background-color: lightpink;
}

tbody tr:nth-child(even) {
  background-color: lightsteelblue;
}

.green {
  background-color: green;
  color: white;
}
.red {
  background-color: red;
  color: white;
}

.grey {
  background-color: gray;
  color: wheat;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 18px;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error .active {
  padding: 0.3em;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

input {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 24px;
}

input:hover {
  background-color: #0056b3;
}

.close,
.open {
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 1s ease-out 0s;
}

.close:hover {
  background-color: hotpink;
}

.open:hover {
  background-color: darkred;
}

dialog {
  position: relative;
}

.finish {
  position: absolute;
  top: 0;
  right: 0;
  color: crimson;
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
  input {
    font-size: 8px;
  }

  th,
  td {
    padding: 0;
  }
}
